#windowSize - size of frame of speech in samples
windowSize int 400

#fftSize - size of the Fourier transform
fftSize int 512

#fftOrder - 2^fftOrder = fftSize
fftOrder int 9

#numCepstrum - number of cepstral coefficients - used wherever 
# cepstra are generated
numCepstrum int 19

#frameAdvanceSamples - shift in samples for frame-based analysis
frameAdvanceSamples int 160

#numFilters - number of filters for MFCC, Slope
numFilters int 40
warpConst float 0.2

#trapezoidalRatio - shape of the filter - varies from triangle to rectangle
# 0.0 - triangle, 1.0 - rectangle
trapezoidalRatio float 0.0

#minFrequency, maxFrequency - frequency range for processing
minFrequency float 0
maxFrequency float 4000

#varianceNormalize - 1 ==> used Vector Quantization  if set to 1
# uses Mahalanobis distance rather than Euclidean distance
varianceNormalize int 0

#zeroMean - 1 ==> zeroMean subtraction for the feature is enabled
zeroMean int 1

#preemphasis - signal is passed through a filter 1/(1 - preemphasis*z^preemphasis_delay)
preemphasis float 0.95

preemphasisDelay int 1

#ditherMean - this parameter was used in Vector Quantization to 
#split a large cluster into two small clusters
#it is not used anymore
ditherMean float 3.0

#waveType - type of the waveform 
# 0 - Sphere PCM
# 1 - Sphere Ulaw
# 2 - plain sample - one short integer per line
# 3 - RAW  - sequence of bytes - each sample 8-bit
# 4 - RAW16 - two bytes/sample - Big Endian
# 5 - RAW16 - two bytes/sample - Little Endian
# 6 - Microsoft RIFF - standard wav format  

waveType int 6

#bandwidthScale - must be nonzero to use Klatt Bandwidths for filterbank 
#bandwidthScale = 0 ===> Standard bandwidths for filterbank
bandwidthScale float 0.0

#samplingRate - sampling rate of the given data
samplingRate int 16000
# old seed was 1331
seed int 2161
probScaleFactor float 1.0

#resGdWindowSize - window size used in LPResidualGDelay for computing the
# the group delay function of residual - must be smaller than a pitch period
resGdWindowSize int 256

#minPitch, maxPitch - range of pitch values for pitch extraction
#in samples
minPitch int 60
maxPitch int 150

#numFormants - number of formants expected in formant analysis
numFormants int 5

#deltaDeltaDifference and deltaDifference - used in computing
#velocity and acceleration parameters for a feature given in number of frames
deltaDeltaDifference int 3
deltaDifference int 3

#lpOrder - Linear Prediction order - used in both analysis and synthesis
lpOrder int 10

#gamma - used to raise the power for 
# minimum phase group delay, modified group delay, root cepstrum
# short-term energy for segmentation
gamma float 0.90

#gdRemoveLPhase - removes linear phase from modified group delay
#if set to 1
gdRemoveLPhase int 0

#removeMin - subtracts the minimum value from modified group delay
#if set to 1
removeMin int 1

#gdSmthWinSize - window size for cepstral smoothing of magnitude spectrum
#used in the computation of the modified group delay function
gdSmthWinSize int 8

#gdSign - inverts to sign of modified group delay function
gdSign int 1

#gdPosScale, gdNegScale - used to raise the modified group delay function to
# a power - positive and negative values are scaled differently
gdPosScale float 0.4
gdNegScale float 0.4

numRegressCoeffts in 4
stGauss int 1
stGaussWnd int 300
